div {
    margin: 0 auto;
}

p:before {
    width: 100px;
    height: 100px;
    content: '   ';
    color: rgb(247, 251, 255);
    animation-name: example;
    animation-duration: 4s;
    margin-right: 15px;
}
@keyframes example {
    25% {
        content: '오늘';
        color: rgb(221, 237, 252);
    }
    50% {
        content: '내일';
        color: rgb(182, 220, 255);
    }
    100% {
        content: '모레';
        color: rgb(112, 185, 253);
    }
}
